/* line 5, ../compass/sass/style.scss */
#intro-page-wrapper {
  text-align: center;
  overflow: scroll;
  position: absolute;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.95);
  top: 0px;
  left: 0px;
  z-index: 1000000000;
  color: #f2f2f2;
}

/* line 17, ../compass/sass/style.scss */
#intro-page-wrapper h1 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 24, ../compass/sass/style.scss */
#intro-page-wrapper p {
  line-height: 125%;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 36, ../compass/sass/style.scss */
#intro-page-wrapper button {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 225px;
  height: 55px;
  padding: 15px;
  color: white;
  background-color: orange;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  border: 0px;
  letter-spacing: 3px;
}

/* line 52, ../compass/sass/style.scss */
#intro-page-wrapper button:hover {
  cursor: pointer;
  background-color: #ffc04d;
}

/* line 59, ../compass/sass/style.scss */
#total-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 66, ../compass/sass/style.scss */
button {
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
}

/* line 74, ../compass/sass/style.scss */
#header {
  background-color: black;
  height: 84px;
  color: #c3c3c3;
  line-height: 84px;
}
/* line 79, ../compass/sass/style.scss */
#header #float-left {
  float: left;
  width: 50%;
}
/* line 82, ../compass/sass/style.scss */
#header #float-left button {
  margin: 20px;
}
/* line 86, ../compass/sass/style.scss */
#header #float-right {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 89, ../compass/sass/style.scss */
#header #float-right button {
  margin: 20px;
}
/* line 93, ../compass/sass/style.scss */
#header #float-right a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-right: 15px;
}

/* line 103, ../compass/sass/style.scss */
#index-wrapper {
  margin-bottom: 40px;
}
/* line 108, ../compass/sass/style.scss */
#index-wrapper #hero-image {
  background-image: url("../img/hippo.jpg");
  height: 600px;
  background-size: cover;
}
/* line 112, ../compass/sass/style.scss */
#index-wrapper #hero-image #hero-text {
  padding-top: 250px;
  text-align: center;
  font-size: 96px;
  color: white;
  margin-top: 0px;
}
/* line 120, ../compass/sass/style.scss */
#index-wrapper #mission {
  width: 60%;
  margin: auto;
  font-size: 16px;
}
/* line 126, ../compass/sass/style.scss */
#index-wrapper #posts {
  width: 60%;
  margin: auto;
}
/* line 129, ../compass/sass/style.scss */
#index-wrapper #posts #posts-left {
  float: left;
  width: 75%;
  height: 80px;
}
/* line 134, ../compass/sass/style.scss */
#index-wrapper #posts #posts-right {
  float: right;
  text-align: right;
  width: 25%;
  height: 80px;
}
/* line 139, ../compass/sass/style.scss */
#index-wrapper #posts #posts-right span.glyphicon {
  font-size: 24px;
  margin-top: 20px;
}
/* line 144, ../compass/sass/style.scss */
#index-wrapper #posts #make-post {
  visibility: hidden;
  transition: height .3s;
  height: 0px;
}
/* line 148, ../compass/sass/style.scss */
#index-wrapper #posts #make-post button {
  margin-top: 20px;
}
/* line 153, ../compass/sass/style.scss */
#index-wrapper #posts #make-post.active {
  height: 300px;
  transition: height .3s;
}
/* line 158, ../compass/sass/style.scss */
#index-wrapper #posts .post {
  overflow: hidden;
  clear: all;
  background-color: #e6e6e6;
  margin: 20px;
  padding: 20px;
  color: #009999;
}
/* line 165, ../compass/sass/style.scss */
#index-wrapper #posts .post #left {
  float: left;
  width: 70%;
}
/* line 168, ../compass/sass/style.scss */
#index-wrapper #posts .post #left .to-follow {
  font-style: italic;
}
/* line 171, ../compass/sass/style.scss */
#index-wrapper #posts .post #left .to-follow:hover {
  cursor: pointer;
}
/* line 174, ../compass/sass/style.scss */
#index-wrapper #posts .post #left .error {
  color: red;
}
/* line 178, ../compass/sass/style.scss */
#index-wrapper #posts .post #right {
  float: left;
  width: 30%;
  text-align: right;
}
/* line 182, ../compass/sass/style.scss */
#index-wrapper #posts .post #right .arrows {
  float: left;
  text-align: right;
  width: 100%;
  font-size: 26px;
}
/* line 188, ../compass/sass/style.scss */
#index-wrapper #posts .post #right .arrows:hover {
  cursor: pointer;
}

/* line 199, ../compass/sass/style.scss */
#register-wrapper, #login-wrapper {
  margin-bottom: 40px;
  padding: 20px;
}
/* line 202, ../compass/sass/style.scss */
#register-wrapper .error, #login-wrapper .error {
  color: red;
}
/* line 205, ../compass/sass/style.scss */
#register-wrapper #heading, #login-wrapper #heading {
  text-align: center;
  color: #001966;
  margin-bottom: 40px;
}
/* line 210, ../compass/sass/style.scss */
#register-wrapper .register, #register-wrapper .login, #login-wrapper .register, #login-wrapper .login {
  background-color: #e6e6e6;
  padding: 40px;
  width: 40%;
  margin: auto;
}
/* line 215, ../compass/sass/style.scss */
#register-wrapper .register h2, #register-wrapper .login h2, #login-wrapper .register h2, #login-wrapper .login h2 {
  font-size: 36px;
  color: #001966;
}
/* line 219, ../compass/sass/style.scss */
#register-wrapper .register #register-heading, #register-wrapper .register #login-heading, #register-wrapper .login #register-heading, #register-wrapper .login #login-heading, #login-wrapper .register #register-heading, #login-wrapper .register #login-heading, #login-wrapper .login #register-heading, #login-wrapper .login #login-heading {
  text-align: center;
}
/* line 222, ../compass/sass/style.scss */
#register-wrapper .register .button-holder, #register-wrapper .login .button-holder, #login-wrapper .register .button-holder, #login-wrapper .login .button-holder {
  text-align: center;
}
/* line 224, ../compass/sass/style.scss */
#register-wrapper .register .button-holder button, #register-wrapper .login .button-holder button, #login-wrapper .register .button-holder button, #login-wrapper .login .button-holder button {
  margin-top: 20px;
  width: 50%;
}

/* line 233, ../compass/sass/style.scss */
#posts-wrapper {
  margin-top: 40px;
}

/* line 238, ../compass/sass/style.scss */
.following-page {
  font-family: 'Josefin Sans', sans-serif;
  color: #001966;
  margin-top: 20px;
}
/* line 242, ../compass/sass/style.scss */
.following-page h3 {
  font-style: italic;
}
/* line 245, ../compass/sass/style.scss */
.following-page .user {
  margin: 10px 0px;
  font-weight: bold;
}
/* line 249, ../compass/sass/style.scss */
.following-page button {
  margin-bottom: 20px;
}

/* line 255, ../compass/sass/style.scss */
#footer-wrapper {
  height: 84px;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}
