/* line 6, ../compass/sass/style.scss */
#total-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 13, ../compass/sass/style.scss */
button {
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
}

/* line 21, ../compass/sass/style.scss */
#header {
  background-color: black;
  height: 84px;
  color: #c3c3c3;
  line-height: 84px;
}
/* line 26, ../compass/sass/style.scss */
#header #float-left {
  float: left;
  width: 50%;
}
/* line 29, ../compass/sass/style.scss */
#header #float-left button {
  margin: 20px;
}
/* line 33, ../compass/sass/style.scss */
#header #float-right {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 36, ../compass/sass/style.scss */
#header #float-right button {
  margin: 20px;
}
/* line 40, ../compass/sass/style.scss */
#header #float-right a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-right: 15px;
}

/* line 50, ../compass/sass/style.scss */
#index-wrapper {
  margin-bottom: 40px;
}
/* line 52, ../compass/sass/style.scss */
#index-wrapper #hero-image {
  background-image: url("../img/hippo.jpg");
  height: 600px;
  background-size: cover;
}
/* line 56, ../compass/sass/style.scss */
#index-wrapper #hero-image #hero-text {
  padding-top: 250px;
  text-align: center;
  font-size: 96px;
  color: white;
  margin-top: 0px;
}
/* line 64, ../compass/sass/style.scss */
#index-wrapper #posts {
  width: 60%;
  margin: auto;
}
/* line 67, ../compass/sass/style.scss */
#index-wrapper #posts #posts-left {
  float: left;
  width: 75%;
  height: 80px;
}
/* line 72, ../compass/sass/style.scss */
#index-wrapper #posts #posts-right {
  float: right;
  text-align: right;
  width: 25%;
  height: 80px;
}
/* line 77, ../compass/sass/style.scss */
#index-wrapper #posts #posts-right span.glyphicon {
  font-size: 24px;
  margin-top: 20px;
}
/* line 82, ../compass/sass/style.scss */
#index-wrapper #posts #make-post {
  visibility: hidden;
  transition: height .3s;
  height: 0px;
}
/* line 86, ../compass/sass/style.scss */
#index-wrapper #posts #make-post button {
  margin-top: 20px;
}
/* line 91, ../compass/sass/style.scss */
#index-wrapper #posts #make-post.active {
  height: 300px;
  transition: height .3s;
}
/* line 96, ../compass/sass/style.scss */
#index-wrapper #posts .post {
  overflow: hidden;
  clear: all;
  background-color: #e6e6e6;
  margin: 20px;
  padding: 20px;
  color: #009999;
}
/* line 103, ../compass/sass/style.scss */
#index-wrapper #posts .post #left {
  float: left;
  width: 50%;
}
/* line 107, ../compass/sass/style.scss */
#index-wrapper #posts .post #right {
  float: left;
  width: 50%;
  text-align: right;
}
/* line 111, ../compass/sass/style.scss */
#index-wrapper #posts .post #right .to-follow {
  font-style: italic;
}

/* line 120, ../compass/sass/style.scss */
#register-wrapper, #login-wrapper {
  margin-bottom: 40px;
  padding: 20px;
}
/* line 123, ../compass/sass/style.scss */
#register-wrapper .error, #login-wrapper .error {
  color: red;
}
/* line 126, ../compass/sass/style.scss */
#register-wrapper #heading, #login-wrapper #heading {
  text-align: center;
  color: #001966;
  margin-bottom: 40px;
}
/* line 131, ../compass/sass/style.scss */
#register-wrapper .register, #register-wrapper .login, #login-wrapper .register, #login-wrapper .login {
  background-color: #e6e6e6;
  padding: 40px;
  width: 40%;
  margin: auto;
}
/* line 136, ../compass/sass/style.scss */
#register-wrapper .register h2, #register-wrapper .login h2, #login-wrapper .register h2, #login-wrapper .login h2 {
  font-size: 36px;
  color: #001966;
}
/* line 140, ../compass/sass/style.scss */
#register-wrapper .register #register-heading, #register-wrapper .register #login-heading, #register-wrapper .login #register-heading, #register-wrapper .login #login-heading, #login-wrapper .register #register-heading, #login-wrapper .register #login-heading, #login-wrapper .login #register-heading, #login-wrapper .login #login-heading {
  text-align: center;
}
/* line 143, ../compass/sass/style.scss */
#register-wrapper .register .button-holder, #register-wrapper .login .button-holder, #login-wrapper .register .button-holder, #login-wrapper .login .button-holder {
  text-align: center;
}
/* line 145, ../compass/sass/style.scss */
#register-wrapper .register .button-holder button, #register-wrapper .login .button-holder button, #login-wrapper .register .button-holder button, #login-wrapper .login .button-holder button {
  margin-top: 20px;
  width: 50%;
}

/* line 154, ../compass/sass/style.scss */
#posts-wrapper {
  margin-top: 40px;
}

/* line 159, ../compass/sass/style.scss */
.following-page {
  font-family: 'Josefin Sans', sans-serif;
  color: #001966;
}
/* line 162, ../compass/sass/style.scss */
.following-page h3 {
  font-style: italic;
}

/* line 168, ../compass/sass/style.scss */
#footer-wrapper {
  height: 84px;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}
